<html>
    <title>{{ busNumber }}</title>
    <body>
        <h1>{{ busNumber }}</h1>
        {% if busStop_set %}
            <table id="busStop_table" width="50%">
            <tr>
                <th> Bus Stop </th>
                <th width="10%"> time </th>
                <th width="10%"> report </th>
            </tr>
            {% for busStop in busStop_set %}
                <tr>
                    <td> {{busStop.name}} </td>
                    {% if location.is_today %}
                        <td> {{location.time|date:"H:i"}} </td>
                    {% else %} 
                        <td> - </td>
                    {% endif %}
                    <td> <a href={% url 'buswait:report_bus' busStop.id %} > report </a></td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
        <a href={% url 'buswait:index' %}>back</a>
    </body>
</html>