{% extends 'buswait/base.html' %}

{% block title %}{{ busNumber }}-{% endblock %}

{% block header %}{{ busNumber }}{% endblock %}

{% block table %}
	<h2> {{busStop_set.first}} - {{busStop_set.last}} </h2>
	{% if user.is_authenticated and busStop_set %}
		{% if favorite %}
			<a href={% url 'buswait:set_favorite_bus' busNumber.id %}>Remove favorite</a>
		{% else %}
			<a href={% url 'buswait:set_favorite_bus' busNumber.id %}>Add favorite</a>
		{% endif %}
	{% endif %}<br>
    {% if busStop_set %}
    <div class="datagrid">
        <table align="center" id="busStop_table">
            <tr>
                <th> Bus Stop </th>
                <th width="10%"> time </th>
                <th width="10%"> report </th>
            </tr>
            {% for busStop in busStop_set %}
                <tr>
                    <td class="hyperlink"
                        onclick="location.href='{% url 'buswait:busStopDetail' %}?busStop={{busStop.name}}&filter='"> {{busStop.name}} </td>
                    {% if busStop.is_today %}
                        <td> {{busStop.time|date:"H:i"}} </td>
                    {% else %} 
                        <td> - </td>
                    {% endif %}
                    <td> <a href={% url 'buswait:report_bus' busStop.id %} > report </a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    <a class="button" href={% url 'buswait:index' %}>back</a>
{% endblock %}

{% block back %} <a href={% url 'buswait:index' %}>back</a> {% endblock %}