{% extends 'buswait/base.html' %}

{% block title %}{{ busNumber }}-{% endblock %}

{% block header %}
{{ busNumber }}
	{% if user.is_authenticated and busStop_set %}
		<span>
		{% if favorite %}
			<a href={% url 'buswait:set_favorite_bus' busNumber.id %} title="Remove Favorite"><span class="glyphicon glyphicon-star"></span></a>
		{% else %}
			<a href={% url 'buswait:set_favorite_bus' busNumber.id %} title="Add Favorite"><span class="glyphicon glyphicon-star-empty"></a>
		{% endif %}
		</span>
	{% endif %}
{% endblock %}

{% block table %}
	<h2> {{busStop_set.first}} - {{busStop_set.last}}</h2>
    {% if busStop_set %}
    <div class="datagrid">
        <table align="center" id="busStop_table">
            <tr>
                <th> Bus Stop </th>
                <th width="10%"> time </th>
                <th width="10%"> report </th>
            </tr>
            {% for busStop in busStop_set %}
                <tr>
                    <td class="hyperlink"
                        onclick="location.href='{% url 'buswait:busStopDetail' %}?busStop={{busStop.name}}&filter='"> {{busStop.name}} </td>
                    {% if busStop.is_today %}
                        <td> {{busStop.time|date:"H:i"}} </td>
                    {% else %} 
                        <td> - </td>
                    {% endif %}
                    <td> <a href={% url 'buswait:report_bus' busStop.id %} > report </a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    <a class="button" href={% url 'buswait:index' %}>back</a>
{% endblock %}