<html>
    <title>{{ busStopName }}</title>
    <body>
        <h1>{{ busStopName }}</h1>
        {% if bus_location_set %}
            <table id="bus_table" width="50%">
            <tr>
                <th width="10%"> Bus <br> Number </th>
                <th> Location </th>
                <th width="10%"> Time </th>
                <th width="10%"> Report </th>
            </tr>
            {% for busStop in bus_location_set %}
                <tr id={{busStop.route}}>
                    <td> {{busStop.route}} </td>
                    {% if busStopName == busStop.find_bus_coming.name %}
                        <td> - </td>
                        <td> - </td>
                    {% else %}
                        <td> {{busStop.find_bus_coming.name}} </td>
                        <td> {{busStop.find_bus_coming.get_time|date:"H:i"}} </td>
                    {% endif %}
                    <td> <a href={% url 'buswait:report_bus' busStop.id %} > report </a></td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
        <a href={% url 'buswait:index' %}>back</a>
    </body>
</html>