{% extends 'buswait/base.html' %}

{% block title %}{{ busStopName }}-{% endblock %}

{% block header %}{{ busStopName }}{% endblock %}

{% block table %}
	<form method="get">
	<input type="hidden" name="busStop" value={{busStopName}}>
	{% if filter %}
		<h2> to {{filter}} </h2>
	{% endif %}
	Filter: <input type="text" name="filter" list="filter">
	<datalist id="filter">
		{% if busStop_datalist %}
			{% for busstop in busStop_datalist %}
				<option value={{busstop.name}}>
			{% endfor %}
		{% endif %}
	</datalist>
	<input type="submit" value="Apply">
	<a class="button" onclick="location.href='' type="button"> Clear </a>
	</form>
    {% if busStop_set %}
    <div class="datagrid">
        <table align="center" id="bus_table">
            <tr>
                <th width="10%">    Bus <br> Number     </th>
				<th width="20%">    Direction     		</th>
                <th>                Location            </th>
                <th width="10%">    Time                </th>
                <th width="10%">    Report              </th>
            </tr>
            {% for busStop in busStop_set %}
                {% for location in busStop.get_previous %}
                
                <tr id={{busStop.route}}>
                    
                    {% if forloop.counter == 1 %}
                        <td rowspan={{busStop.get_previous|length}} 
                            class="hyperlink"
                            onclick="location.href='{% url 'buswait:busDetail' %}?busNumber={{busStop.route}}'">
                        {{busStop.route}} </td>
						<td rowspan={{busStop.get_previous|length}} >
                        {{busStop.route.busstop_set.last}} </td>
                    {% endif %}
                    
                        <td id={{location.name}}> {{location.name}} </td>
                        
                        <td id={{location.name}}_time>
                    {% if location.is_today %}
                        {{location.time|date:"H:i"}} 
                    {% else %} 
                        - 
                    {% endif %}
                        </td>
                        
                    {% if forloop.counter == 1 %}
                        <td rowspan={{busStop.get_previous|length}}> 
                        <a class="button" href={% url 'buswait:report_bus' busStop.id %} > report </a></td>
                    {% endif %}
            
                </tr>
                {% endfor %}
            {% endfor %}
            </table>
        </div>
	{% else %}
		<p>ไม่พบข้อมูล</p>
    {% endif %}
		<a class="button" href={% url 'buswait:index' %}>back</a>
{% endblock %}