<html>
    <title>BusWaiting App</title>
    <link href="/static/theme.css" rel="stylesheet">
    <body>
        <h1>BusWaiting App</h1>
        <form class="form-style-9" action={% url 'buswait:busStopDetail' %} method="get">    
            <h2>Location</h2>
            <input list="busStops" name="busStop" autocomplete="off" placeholder="Bus Stop Name">
            <datalist id="busStops">
                {% for busstop in busStop_set %}
                <option value={{busstop.name}}>
                {% endfor %}
            </datalist>
            <input type="submit" value="submit">
        </form>
        <form class="form-style-9" action={% url 'buswait:busDetail' %} method="get">    
            <h2>Bus Number</h2>
            <input list="busNumbers" name="busNumber" autocomplete="off" placeholder="Bus Number">
            <datalist id="busNumbers">
                {% for bus in bus_set %}
                <option value={{bus.bus_number}}>
                {% endfor %}
            </datalist>
            <input type="submit" value="submit">
        </from>
    </body>
</html>