{% extends 'buswait/base.html' %}

{% block title %}{% endblock %}

{% block header %}BusWaiting App{% endblock %}

{% block input %}
    <form class="form-style-9" action={% url 'buswait:busStopDetail' %} method="get">    
        <h2>Location</h2>
            <input list="busStops" name="busStop" autocomplete="off" placeholder="Bus Stop Name">
			<input type="hidden" name="filter">
            <datalist id="busStops">
			{% if busStop_set %}
                {% for busstop in busStop_set %}
                    <option value={{busstop.name}}>
                {% endfor %}
			{% endif %}
            </datalist>
            <input type="submit" value="submit">
        </form>
        
        <form class="form-style-9" action={% url 'buswait:busDetail' %} method="get">    
            <h2>Bus Number</h2>
            <input list="busNumbers" name="busNumber" autocomplete="off" placeholder="Bus Number">
            <datalist id="busNumbers">
			{% if busStop_set %}
                {% for bus in bus_set %}
                    <option value={{bus.bus_number}}>
                {% endfor %}
			{% endif %}
            </datalist>
            <input type="submit" value="submit">
        </form>
        <a href={% url 'buswait:about' %}>about</a>
{% endblock %}